@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-bullets-colors .swiper-pagination-bullet {
  background: #eab1f6; /* Cor da bolinha inativa */
  opacity: 0.7;
}

.custom-bullets-colors .swiper-pagination-bullet-active {
  background: #84099f; /* Cor da bolinha ativa */
  opacity: 1;
}
