@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-montserrat), sans-serif; */
}

@layer base {
  body {
    @apply font-montserrat font-normal;
  }
}

.custom-bullets-colors .swiper-pagination-bullet {
  background: #eab1f6; /* Cor da bolinha inativa */
  opacity: 0.7;
}

.custom-bullets-colors .swiper-pagination-bullet-active {
  background: #84099f; /* Cor da bolinha ativa */
  opacity: 1;
}

h1,
h2,
p {
  padding-left: 100px;
}

@media only screen and (max-width: 600px) {
  h1,
  h2,
  p {
    padding-left: 10px;
  }
}
